NUXT_OG_IMAGE_SECRET=SEE README.md FOR INSTRUCTIONS

NUXT_SITE_URL=https://lgx.art
NUXT_SITE_NAME="Raspocket Studios"
NUXT_SITE_ENV="production"

STUDIO_GITHUB_CLIENT_ID=
STUDIO_GITHUB_CLIENT_SECRET=

NUXT_YOUTUBE_API_KEY=Get from Google Cloud Console -> YouTube Data API v3

NUXT_NODEMAILER_AUTH_USER=The Gmail address of the gmail account
NUXT_NODEMAILER_AUTH_PASS=The app password generated for the gmail account (NOT the regular account password)

NUXT_DISCORD_CONTACT_WEBHOOK_URL=Discord Webhook URL from a channel

NUXT_PUBLIC_RECAPTCHA_SITE_KEY=Get from Google reCAPTCHA admin console - the public site key
NUXT_RECAPTCHA_SECRET_KEY=Get from Google reCAPTCHA admin console - the private secret key