NUXT_OG_IMAGE_SECRET=SEE README.md FOR INSTRUCTIONS

NUXT_SITE_URL=https://lgx.art
NUXT_SITE_NAME="Raspocket Studios"
NUXT_SITE_ENV="production"

STUDIO_GITHUB_CLIENT_ID=
STUDIO_GITHUB_CLIENT_SECRET=

NUXT_YOUTUBE_API_KEY=Get from Google Cloud Console -> YouTube Data API v3