

@theme inline {
    --color-background: var(--background);
    --color-background-secondary: var(--background-secondary);
    --color-foreground: var(--foreground);
    --color-foreground-secondary: var(--foreground-secondary);
    --color-primary: var(--primary);
}


:root {
    --background: #f7f6f2;
    --background-secondary: #e0d5bc;
    --foreground: #2E2D2B;
    --foreground-secondary: #f9f9f9;
    --primary: #ed3d60;
}