

@theme inline {
    --color-background: var(--background);
    --color-backround-secondary: var(--backround-secondary);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
}


:root {
    --background: #726f61;
    --backround-secondary: #e0d5bc;
    --foreground: #1c1917;
    --primary: #ed3d60;
}